@model TMHitech.MVC.ViewModels.HomeViewModel

<div id="slider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/banner1.jpg" class="d-block w-100">
        </div>
    </div>
</div>


<h3 class="mt-4">Danh mục thiết bị</h3>
<div class="row">
    @foreach (var item in Model.Categories)
    {
<div class="col-md-4">
    <div class="card mb-3">
        <img src="/images/@item.Image" class="card-img-top">
        <div class="card-body text-center">
            <h5>@item.Name</h5>
            <a href="/Product?categoryId=@item.Id" class="btn btn-outline-primary">Xem thêm</a>
        </div>
    </div>
</div>}
</div>


<h3 class="mt-4">Kiến thức y tế</h3>
<div class="row">
    @foreach (var n in Model.News)
    {
<div class="col-md-3">
    <div class="card">
        <img src="/images/@n.Image" class="card-img-top">
        <div class="card-body">
            <h6>@n.Title</h6>
        </div>
    </div>
</div>}
</div>