@model TMHitech.MVC.ViewModels.HomeViewModel

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/css/project.css" rel="stylesheet" />

<div class="breadcrumb">
    <a href="#">Trang chủ</a> › <span>Dự án</span>
</div>

<head>
    <title>Dự án - TM Hitech</title>
</head>
<body class="project-page">

    <section class="banner">
        <img src="~/Content/Images/project/banner-project.jpeg" alt="Dự án">
    </section>

    <div class="project-wrapper">
        <div class="content-left">
            <h2 class="title">DỰ ÁN</h2>

            <div class="project-highlight">
                <img src="~/Content/Images/project/project-main.jpg" alt="">
                <div class="project-info">
                    <h3>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h3>
                    <p>
                        TM Hitech hoạt động có hiệu quả và uy tín trong các lĩnh vực hoạt động của mình...
                    </p>
                    <a href="#" class="btn-detail">CHI TIẾT →</a>
                </div>
            </div>

            <div class="project-grid">
                <div class="project-item">
                    <img src="~/Content/Images/project/project1.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project2.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project3.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project4.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project5.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project6.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project7.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project8.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>

                <div class="project-item">
                    <img src="~/Content/Images/project/project9.jpg">
                    <h4>Dự án cung cấp thiết bị cho bệnh viện Việt Đức</h4>
                </div>
            </div>

            <div class="pagination">
                <a class="active">1</a>
                <a>2</a>
                <a>3</a>
                <a>4</a>
                <a>›</a>
            </div>
        </div>

        <aside class="sidebar">
            <div class="box">
                <h3>SẢN PHẨM NỔI BẬT</h3>
                <ul class="list">
                    <li><img src="~/Content/Images/overlay/overlay1.jpg"> Chẩn đoán hình ảnh</li>
                    <li><img src="~/Content/Images/overlay/overlay2.jpg"> Thăm dò chức năng</li>
                    <li><img src="~/Content/Images/overlay/overlay3.jpg"> Cấp cứu hồi sức</li>
                    <li><img src="~/Content/Images/overlay/overlay4.jpg"> Thiết bị phòng mổ</li>
                </ul>
            </div>

            <div class="box">
                <h3>TIN NỔI BẬT</h3>
                @foreach (var item in Model.LatestNews)
            {
                <div class="knowledge-item">
                    <img src="@Url.Content("~/Content/Images/news/" + item.Image)" />

                    <div class="content">
                        <h3>@item.Title</h3>
                        <p>
                            @(item.Content != null && item.Content.Length > 120
                                ? item.Content.Substring(0, 120) + "..."
                                : item.Content)
                        </p>
                    </div>
                </div>
            }
            </div>
        </aside>
    </div>

</body>