@model TMHitech.MVC.ViewModels.HomeViewModel

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/css/service.css"   rel="stylesheet" />

<div class="breadcrumb">
    <a href="#">Trang chủ</a> › <span>Dịch vụ</span>
</div>

<div class="container service-page">
    <div class="service-content">
        <h2 class="title">DỊCH VỤ</h2>

        <p>
            Với đội ngũ chuyên gia có kinh nghiệm hơn 10 năm tham gia các dự án
            đầu tư mua sắm trang thiết bị y tế, TM Hitech đảm bảo sẽ đưa ra
            những tư vấn hữu ích cho dự án của bạn.
        </p>

        <p>
            Trong bối cảnh thị trường rộng mở như hiện nay, có rất nhiều dòng
            thiết bị y tế với giá cả và chất lượng khác nhau để khách hàng lựa chọn.
        </p>

        <p>
            Kinh nghiệm lâu năm trong ngành thiết bị y tế, TM Hitech tự tin có thể
            hỗ trợ khách hàng thiết kế tổng thể dự án.
        </p>

        <img src="images/service-thumb.jpg" alt="Dịch vụ TM Hitech" class="service-img">

        <h3>Dịch vụ trong bảo hành</h3>
        <p>
            Tất cả các thiết bị Công ty cung cấp đều được bảo hành đảm bảo theo
            đúng tiêu chuẩn và cam kết của nhà sản xuất.
        </p>

        <p>
            Bất cứ lúc nào trong thời gian ngắn nhất, nhân viên kỹ thuật sẽ có
            mặt theo yêu cầu của khách hàng.
        </p>

        <h3>Dịch vụ sau bảo hành</h3>
        <p>
            Kiểm tra định kỳ lâu dài cho tất cả các thiết bị do Công ty cung cấp.
        </p>

        <p>
            TM Hitech luôn cam kết hoàn thành tốt nhất các yêu cầu về cung cấp,
            lắp đặt & tư vấn.
        </p>
    </div>

    <aside class="service-sidebar">
        <div class="box">
            <h4 class="box-title">SẢN PHẨM NỔI BẬT</h4>

            <ul class="product-list">
                <li>
                    <img src="images/sp1.jpg">
                    <a href="#">Chuẩn đoán hình ảnh</a>
                </li>
                <li>
                    <img src="images/sp2.jpg">
                    <a href="#">Thăm dò chức năng</a>
                </li>
                <li>
                    <img src="images/sp3.jpg">
                    <a href="#">Cấp cứu hồi sức tích cực</a>
                </li>
                <li>
                    <img src="images/sp4.jpg">
                    <a href="#">Thiết bị phòng mổ</a>
                </li>
            </ul>
        </div>

        <div class="box">
            <h4 class="box-title">TIN NỔI BẬT</h4>

            <ul class="news-list">
                <li>
                    <img src="images/news1.jpg">
                    <div>
                        <a href="#">Khi bị nhồi máu cơ tim...</a>
                        <span>23-02-2018</span>
                    </div>
                </li>
                <li>
                    <img src="images/news2.jpg">
                    <div>
                        <a href="#">Dấu hiệu cảnh báo sớm...</a>
                        <span>23-02-2018</span>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
</div>